PORT=3000
# Database configuration
DB_HOST=localhost
DB_NAME=to_do_list
DB_USERNAME=root
DB_PASSWORD=Maochlkjkljamnol123!

# Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@123
ADMIN_EMAIL=admin123@gmail.com

#JWT secret key
JWT_SECRET=secret_key
JWT_EXPIRED=1d

# Mailer credentails
MAIL_HOST=localhost
MAIL_SERVICE=gmail
MAIL_USER=maochamnol37@gmail.com
MAIL_PASS=hgjhgjhkjk

#Telegram configuration
BOT_TOKEN=8623878098:AAHTsc3Wuuuyy6O1LmtcfylshTkLxrfl0GTv8W0Y
BOT_USERNAME=SecureuToDouBot